body{
  margin: 0;
  padding: 0;
}

.container{
  display: grid;
  grid-template-rows: 300px 1fr;
  min-height: 100vh;
}

.header{
  background-color: rgb(233, 185, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  flex: 0 1 auto;
  width: 150px;
}

form{
  display:grid;
  grid-template-columns: 1fr 2fr;
  align-items:end;
  gap: 10px;
}

label{
  justify-self: end;
}

input[type=checkbox]{
  width: 20px;
}

.book-submit{
  grid-column: 1 / span 2;
  justify-self: center;
}

.card-container {
  width: 90%;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  gap: 15px;
  padding: 10px;
}

.card{
  border: 1px solid black;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}